.add_baner {
  background-color: #cea234;
  width: 100%;
  max-width: 970px;
  height: 100%;
  height: 90px;
  margin: 0 auto;
  position: relative;
}
.add_baner_image {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../src/Asset/Images/luxadd.png);
}

@media screen and (max-width: 1024px) {
  .add_baner {
    width: 90%;
  }
}
