.container {
  background-image: url("../src/Asset/Images/lining1.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1920px;
  margin: 0 auto;
}

.Main_Container_Setting {
  padding: 20px 50px;
  width: 50%;
  height: auto;
  background-color: #1b1b1b;
  margin: auto;
  /* opacity: 0.8; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sub_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.flex_center_col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flex {
  width: 100%;
  display: flex;
  gap: 20px;
}
.flex .input {
  width: 100%;
}
.flex_col {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex_col2,
.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex_col .input {
  width: 100%;
}

.flex_col h3,
.flex_col2 h3 {
  color: #fff;
}

.input,
.textarea {
  /* width: 50%; */
  padding: 10px;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}

.textarea {
  width: 100%;
  height: 150px;
}

.Payment_Info_TopHeading {
  text-align: center;
  color: #cea234;
}

.Payment_Delivery_Heading {
  /* font-family: Poppins; */
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #fefefe;
  margin-left: 30px;
}

.Checkbox_setting {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fefefe;
  margin-left: 40px;
  align-items: center;
}

.Checkbox_setting span {
  color: #cea234 !important;
}
.Checkbox_setting span svg {
  /* background-color: #707070; */
}

.Payment_Gateway_Heading {
  /* font-family: Poppins; */
  font-size: 22px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #fefefe;
}

.btn_tags_option {
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #fefefe;
  border-color: #fefefe;
  height: 80px;
  margin-left: 15px;
  width: 220px;
}
.btn_tags_option:hover {
  cursor: pointer;
  color: #fff;
  background-color: #b38206;
}

.Cricle_Images {
  margin-right: 20px;
}
.Payment_Images {
  margin-left: 20px;
}

.Add_More_Payment_Heading {
  /* font-family: Poppins; */
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #fefefe;
  margin-left: 29px;
}

.btn_Promo_Code {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;

  width: 400px;
  border-color: #707070;
  /* margin-left: 100px; */
  border-style: solid;
  color: #fefefe;
  margin: auto;
  justify-content: center;
  display: block;
}

.Video_Fee {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  /* text-align: left; */
  text-align: center;
  color: #fefefe;
}

.Amount_PKR {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #fefefe;
}

.btn_Book_Now {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #1b1b1b !important;
  background-color: #cea234 !important;
  border-radius: 30px !important;
  margin: auto;
  border-color: #cea234 !important;
  justify-content: center;
  display: flex;
  padding: 0 10px;
  align-items: center;
  height: 45px;
  min-width: 200px;
}
.btn_Book_Now:hover {
  cursor: pointer;
  color: #fff !important;
  background-color: #b38206 !important;
}

.btn_Book_Now_PAYMENT {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  transition: 0.2s;
}
.btn_Book_Now_PAYMENT:hover {
  box-shadow: 0px 0px 20px 5px #b38206;
  /* border: #b38206 1px solid; */
}

.btn_Book_Now_PAYMENTFINAL {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  transition: 0.2s;
  margin-bottom: 10px;
}
.btn_Book_Now_PAYMENTFINAL:hover {
  box-shadow: 0px 0px 20px 5px #b38206;
  /* border: #b38206 1px solid; */
}

.TextField_colorSeting {
  color: #fefefe;
}

.Edit_Account {
  /* font-family: Poppins; */
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #fefefe;
}

.TextFields {
  border: 2px solid #707070 !important;
  color: #fefefe !important;
}

.btn_Save {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #1b1b1b;
  background-color: #cea234;
  border-radius: 30px;
  margin: auto;
  width: 200px;
  justify-content: center;
  display: block;
  margin-bottom: 40px;
}
.btn_Save:hover {
  cursor: pointer;
  color: #fff;
  background-color: #b38206;
}

.btn_Total_Earning {
  /* font-family: Poppins; */
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  justify-content: center;
  display: block;
  width: 240px;
  border-color: #cea234;
  color: #fefefe;
  margin: auto;
}

.btn_Total_Earning:hover {
  cursor: pointer;
  color: #fff;
  background-color: #b38206;
}
.Card_Container_setting {
  margin-top: 30px;
}

.card_background_color {
  background-color: #cea234;
}
.card_week {
  /* font-family: Poppins; */
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1b1b;
  margin-top: 15px;
}
.card_values {
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1b1b;
}
.card_progress {
  text-align: right;
  border-radius: 50px;
  border: 5px double;
  border-color: #1b1b1b;
  align-items: right;
  margin: auto;
  display: flex;
  justify-content: right;
}

.Heading_know_Earning {
  text-align: center;
  height: 72px;
  width: 704px;
  border-radius: nullpx;
  color: #cea234;
}
.Paragraph_know_Earning {
  /* font-family: Poppins; */
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #fefefe;
}

.btn_Add_New {
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.005em;
  text-align: right;
  color: #cea234;
  margin: auto;
  display: flex;
  justify-content: right;
  margin-top: 140px;
}
.btn_Add_New:hover {
  cursor: pointer;
  color: #fff;
  background-color: #b38206;
}

.With_Drawal_Heading {
  margin-top: 90px;
  /* font-family: Poppins; */
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #fefefe;
}

.btn_Transfer {
  /* font-family: Poppins; */
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #1b1b1b;
  background-color: #cea234;
  margin-bottom: 50px;
  margin: auto;
  justify-content: center;
  display: block;
}
.payment_card_margin_top {
  margin-top: 15px;
}
.payment_card_textfield_width {
  width: 550px;
}

/* Payment Card Components
 */

.payment_card_grid_margintop {
  margin-top: 30px;
}
.payment_card_textfield_width_full {
  width: 460px;
}

.payment_card_margin_width_height {
  margin: 10px;
  width: auto;
  height: auto;
}
.payment_card_margin_10 {
  margin: 10px;
  width: auto;
  height: auto;
}
.Payment_Info_payment_Title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-top: 30px; */

  /* text-align: center; */
  /* background-color: red; */
}
.Payment_Info_payment_Title h3 {
  width: 33%;
  text-align: start;
  font-weight: bolder;
}
.Payment_Info_payment_price {
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
  /* text-align: center; */
}
.Payment_Info_payment_price h3 {
  margin-top: 30px;
  width: 33%;
  text-align: start;
  margin-bottom: 20px;
  font-size: large;
}
.Payment_Info_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment_container_button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: yellow; */
  margin-top: 20px;
  margin-bottom: 20px;
}
.payment_card_cash_image {
  /* width: 100%; */
  height: 100%;
  /* margin-top: 10px; */
  align-items: center;
  /* mix-blend-mode: multiply; */
}
.btn_flex {
  display: flex;
  gap: 20px;
  /* margin-bottom: 20px; */
}
.btn_flex2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}
.price_sec {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-bottom: 20px; */
}
.btn_flex2 button {
  margin-bottom: 10px;
}

.Payment_Info_checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.Payment_Info_checkbox label {
  position: relative;
  color: #cea234;
}
.Payment_Info_checkbox label a {
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
.Payment_Info_checkbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #cea234;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}
.Payment_Info_checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #cea234;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.amount_promo_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.amount_promo_section label {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
  height: 50px;
  border-radius: 20px;
  overflow: hidden;
}
.amount_promo_section label input,
.amount_promo_section label button {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  font-size: 18px;
}
.amount_promo_section label button {
  background-color: #cea234;
  color: black;
}

@media screen and (max-width: 1024px) {
  /* .Main_Container_Setting {
    height: 60vh;
  } */

  .Payment_Info_checkbox p {
    /* position: relative; */
    cursor: pointer;
    color: #cea234;
    font-size: 12px !important;
  }

  .Main_Container_Setting {
    width: 90%;
  }
  .amount_promo_section {
    flex-direction: column;
    align-items: flex-start;
  }

  .amount_promo_section h3 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .amount_promo_section label {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    height: 30px;
    border-radius: 20px;
    width: 100%;
    /* overflow: visible; */
  }

  .amount_promo_section label button {
    border-radius: 0 20px 20px 0;
  }

  .amount_promo_section label input {
    width: 80%;
  }
  .amount_promo_section label button {
    background-color: #cea234;
    color: black;
  }
}

@media screen and (max-width: 1440px) {
  .Main_Container_Setting {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .textarea {
    width: 100%;
    height: 150px;
  }
  .Main_Container_Setting {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 450px) {
  .Main_Container_Setting {
    width: 100%;
  }
}
